$primary-color: #01c1ee;
$secondary-color: rgb(114, 113, 113);

@mixin button {
  width: 340px;
  padding: 10px 0;
  font-size: 1.5rem;
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
