@include mediaMd {
  #main-header {
    flex-direction: column;

    .angle {
      width: 100%;
      background: $primary-color;
    }

    .header-content {
      padding-left: 20px;

      h1 {
        font-size: 2rem;
        line-height: 1.5;

        span {
          color: $primary-color;
        }
      }

      .header-buttons {
        margin-top: 50px;

        .contact-number {
          @include button;
          background: linear-gradient(to bottom left, $primary-color, #fff);
          border: 2px solid $primary-color;
        }

        .help {
          @include button;
          margin: 1rem 0 0 0;
          background: linear-gradient(to top right, $primary-color, #fff);
        }
      }
    }
  }

  main {
    .company-info {
      h2 {
        text-align: center;
        padding: 1.5rem 0 1rem;
      }
      p {
        padding: 0 50px 30px 50px;
      }
    }

    #carousel {
      .m-smart-item,
      .m-evolution-item,
      .m-art-item {
        display: grid;
        grid-template-columns: 100vw;
      }
    }

    #order {
      .order-box {
        padding: 1rem 0.5rem;
        width: 100%;
        margin: 0;

        .order-contact {
          padding-top: 1rem;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .benefits {
      .benefits-items {
        display: grid;
        grid-template-columns: 50% 50%;
      }
    }
  }
}
